// colors
$header-text_item-color: #ffffff;
$header-accent-color: #fce38a;
$section-main-color: #333333;
$section-secondary-color: #999999;
// fonts
$main-font-family: 'Montserrat';
$secondary-font-family: 'Roboto';
$subtitle-font-family: 'Kaushan Script';